# Framework web para la API REST
Flask==2.3.3

#ORM para la base de datos
SQLAlchemy==2.0.23

#Integración de Flask con SQLAlchemy
Flask-SQLAlchemy==3.1.1

#Driver de Python para PostgreSQL
psycopg2-binary==2.9.9

#Para manejar solicitudes CORS (Cross-Origin)
Flask-CORS==4.0.0

#Para cargar variables de entorno desde el archivo .env
python-dotenv==1.0.0